/* General Styles */
.details-container {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  max-width: 1000px;
}

.img-div-details {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.detail-text {
  font-size: 1.4rem;
  text-decoration: underline;
  font-family: sans-serif;
}

.text-container {
  display: flex;
  width: 100%;
  height: auto;

}

.text-div {
  width: 30%;
  border: 1px solid black;
  border-top: none;
}

.text {
  font-size: 1.2rem;
  margin-left: 4px;
}

.text-data {
  width: 70%;
  border: 1px solid black;
  border-top: none;
  border-left: none;
}

.data {
  font-size: 1.2rem;
}



.text-container:last-child .text-div,
.text-container:last-child .text-data {
  border-bottom: 1px solid black;
}

/* mobile devices (max width 600px) */
@media (max-width: 600px) {
  .details-container {
    width: 95%;
    padding: 5px;
  }

  .text-container {
    width: 100%;
    flex-direction: column;
  }

  .text-div,
  .text-data {
    width: 100%;
  }

  .text {
    font-weight: bold;
  }

  .data {
    padding: 2px;
  }

  .text-data {
    border-left: 1px solid black;
    font-size: 1rem;
  }

}

/*tablet devices (max width 1024px) */
@media (max-width: 1024px) {
  .details-container {
    width: 85%;
    padding: 8px;
  }

  .text-data {
    font-size: 1.1rem;
  }

  .text {
    font-weight: bold;
  }


  .text-div {
    font-size: 1.1rem;
  }
}