.nav-mobile{
    width: 100%;
    height: 60px;
    background-color: #DFF7E5;
}

.nav-mobile{
    display: block;
}

.extend-div{
    width: 100%;
    height: auto;
    background-color: bisque;
    display: block;
}

/* show navbar for big screen */
@media (min-width: 1024px) {
    .nav-mobile {
        display: none; 
    }
    .extend-div{
        display: none;
    }
}




.nav-container-mobile{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.section-divider {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    align-items: center; 
}

.icon-container-mobile {
    width: 50%; 
    height: 100%;
    display: flex;
    padding: 1px;
    background-color: red;
    align-items: center; 
}

.filter-container-mobile, 
.search-container-mobile {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 20%; 
}

.search-container-mobile {
    position: relative;
    right: 0;
    background-color: red;
}

.filter-container-mobile {
    background-color: rgb(163, 63, 239);
}
.extend-div{
    display: none;
}
button{
    background: transparent;
    border: none;
    cursor:pointer;
}
